{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col md-3">
        <h3>CreateBook</h3>
    </div>
    <!--<div class="col md-3"><a href="{% url 'author' %}" class="btn btn-warning"> Add Author</a>
    </div>-->
</div>

<br><br><br>
<form action="" method="post">
    {% csrf_token %}

    <label for = " ">Book Name: </label>
    <input type="text" name="title" placeholder="Enter book name">
    <label for = "">Author Name: </label>
    <input type="text" name="author" placeholder="Enter author's name">
     <label for = " ">Price: </label>
    <input type="text" name="price" placeholder="Enter book price">
    <br><br><br>
    <center>
    <input type="submit" value="Submit" class="btn btn-primary">
    </center>
</form>
<br><br>

{% endblock %}

<!--
<h1>List Book</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Book Name</th>
        <th scope="col">Author</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.price}}</td>
        <td><a href="{% url 'details' book.id %}" class="btn btn-primary">Details</a>
        <a href="{% url 'update' book.id %}" class="btn btn-success">Update</a>
        <a href="{% url 'delete' book.id %}" class="btn btn-danger">Delete</a>
        </td>

    </tr>

    {%endfor%}
    </tbody>
</table>

<!--
<br>
<br>
<h1>List</h1>

{% for book in books %}
{{book.title}}
{{book.author}}
{{book.price}}<br>
{% endfor %}
-->

-->